rules:
	'/\/(.*)/i':
		owner: root
		mode: [0644, 0755]
	'/\/(.*)\.sh$/i':
		owner: root
		mode: [null, 0755]
	'/(json|upload|global-style|js|css)/i':
		owner: www-data
		mode: [644, 755]
	'/(image-upload)/i':
		owner: root
		mode: [644, 755]
