sessionDir: /var/lib/php/sessions/dp/www/%projectName%
loggingDir: administrator/logs
cacheDirs:
	- administrator/cache
	- cache
	- tmp

rules:
	'/\/(.*)/i':
		owner: root
		mode: [0644, 0755]
	'/\/(.*)\.sh$/i':
		owner: root
		mode: [null, 0755]
	'/\/(avatar|cache|logs?|images|media|tmp|xml|static|css|js|favicon|sitemap.xml)/i':
		owner: www-data
		mode: [0644, 0755]
	'/(mod_login|mod_k2_login|mod_socialmedialinks|katalog|index)/i':
		owner: root
		mode: [0644, 0755]
