sessionDir: temp/sessions
loggingDir: log
assetsDir: www/vendor
cacheDirs:
	- temp/cache
	- temp/proxies
	- www/static

deployCommands:
	make:locked: []		# lock access
	code:pull: []		# pull new source code
	code:install: []	# install dependencies
	schema:migrate: []	# migrate database
	clean:cache:		# clear cache
		--skip-fix: true
	code:warmup: []		# warmup cache
	make:close: []		# fix permission

excludePaths:
	- temp/sessions
	- vendor

rules:
	'/\/(.*)/i':
		owner: root
		mode: [0644, 0755]
	'/\/(.*)\.sh$/i':
		owner: root
		mode: [null, 0755]
	'/\/(avatar|cache|compile|logs?|images|media|te?mp|xml|static)/i':
		owner: www-data
		mode: [0644, 0755]
