sessionDir: temp/sessions
loggingDir: log
cacheDirs:
	- temp/cache
	- temp/proxies
	- www/static

excludePaths:
	- temp/sessions
	- vendor

rules:
	'/\/(.*)/i':
		owner: root
		mode: [0644, 0755]
	'/\/(.*)\.sh$/i':
		owner: root
		mode: [null, 0755]
	'/\/(avatar|cache|compile|logs?|images|media|te?mp|xml|static)/i':
		owner: www-data
		mode: [0644, 0755]
